body {
    background-image: url("../images/bg-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

/*.dropdown-toggle::after {*/
/*  content: none;*/
/*}*/

.custom-shadow {
    box-shadow: 5px 5px 25px 19px #513ada;
}

.product_id {
    color: gray;
    font-size: 15px;
}

.badge.bg-warning.text-dark {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 1rem;
    box-shadow: 2px 2px 15px 9px #f31d44;

}

.badge-banner {
    top: 80%;
    border-radius: 15px;
    font-size: 0.7rem;
}

.move {
    font-size: 5vw;
    /*background-clip: text;*/
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(
        45deg, DeepPink, BlueViolet, Indigo,
        Red, DarkOrange, Yellow, Black, Lime, MediumAquaMarine,
        Aqua, Blue, Olive
    );
    background-size: 400% 400%;
    animation: move 10s ease infinite;


}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 100% 0;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 100%;
    }
}

/*.rotate {*/
/*  animation: rotate 10s infinite linear;*/
/*  display: inline-block;*/
/*}*/

/*@keyframes rotate {*/
/*  0% {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  100% {*/
/*    transform: rotateY(360deg);*/
/*  }*/
/*}*/
.comment-container {
  max-height: 200px;
  overflow-y: auto;
  /*border: 1px solid #ccc;*/
  padding: 10px;
  margin: 4px;
}

.comment {
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1.1);
}

.comment p em {
    font-style: italic;
    color: #FF0000;
}

.comment p {
    margin: 0;
    line-height: 1.5;
}

.comment p.comment-text {
    font-style: italic;
    color: #0000FF; /* You can specify the desired color here using HEX, RGB, or color names */
}

.comment p:first-child {
    font-weight: bold;
}

.comment p:last-child {
    font-size: 12px;
    color: #666;
    font-family: sans-serif;
}

.add-comment {
  margin-top: 10px;
}