{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
{% endblock css %}

{% block modal_cart %}
    {% include 'includes/cart_button.html' %}
{% endblock %}

{% block content %}
    <h1 class="mt-1 pt-1" > <strong class="move">{{ content|safe }}</strong></h1>
    <p class="mt-2 lead" style="font-size: 2.5vw; font-weight: bold; white-space: pre-line;">{{ text_on_page|safe }}</p>
{% endblock content %}

{#{% block footer %}#}
{#    <footer class="py-4 bg-dark">#}
{#        <div class="container">#}
{#            <p class="m-0 text-center text-white">Project &copy; Ruskom Home 2024</p>#}
{#        </div>#}
{#    </footer>#}
{#{% endblock footer %}#}
